.sidebar {
    transition: all .4s ease-in-out;
}

.sidenav-collapsed {
    width: 3.35rem;
}

.button-sidenav {
    color: white;
    font-weight: bold;

    &:hover {
        background-color: #4d5b48;
    }
}