<div class="fixed md:static bg-[#374232]">
    <div class="sidebar min-h-screen overflow-hidden border-r  hover:shadow-lg"
        [ngClass]="isMobile() && collapsed ? 'sidenav-collapsed' : 'w-[16rem]'">
        <div class="flex h-screen flex-col justify-between pt-2 pb-6">
            <div>
                <div class="">
                    <picture (click)="toggleCollapse()">
                        <source srcset="../../assets/img/logo.webp" type="image/webp">
                        <source srcset="../../assets/img/logo.png" type="image/png">
                        <img loading="lazy" src="../../assets/img/logo.png" alt="Logo Dashboard">
                    </picture>
                </div>

                <ul class="mt-6 space-y-2 tracking-wide" [akoShowForRoles]="['Admin']" (permited)="toggleHover($event)">
                    @if (showRoute) {
                    @for (item of menuItems; track $index) {
                    <li class="min-w-max">
                        <a [routerLink]="item.path" routerLinkActive="bg-selected "
                            [routerLinkActiveOptions]="{ exact: false }"
                            class="relative flex items-center space-x-4 px-4 py-3 text-white font-semibold button-sidenav">
                            <i class="material-icons">{{ item.icon }}</i>
                            <span class="-mr-1 font-medium">{{item.title}}</span>
                        </a>
                    </li>
                    }

                    } @else {
                    @defer {
                    @for (item of routesNotInMenu; track $index) {
                    <li class="min-w-max">
                        <a [routerLink]="item.path" routerLinkActive="bg-selected "
                            [routerLinkActiveOptions]="{ exact: false }"
                            class="relative flex items-center space-x-4 px-4 py-3 text-white font-semibold button-sidenav">

                            <span class="-mr-1 font-medium">{{item.title}}</span>
                        </a>
                    </li>
                    }
                    }
                    }
                </ul>
            </div>

            <div class="w-full -mb-3 button-sidenav">
                <button class="group flex items-center space-x-4 rounded-md px-4 py-3" (click)="logout()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="-ml-1 h-6 w-6 group-hover:fill-[#799468]">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
                    </svg>

                    <span>Salir</span>
                </button>
            </div>
        </div>
    </div>
</div>