<div class="flex h-screen flex-col justify-center mx-auto max-w-[90%] md:w-full md:max-w-md">
    <div class="shadow-2xl">
        <div class="bg-[#374232] rounded-t-md">
            <picture class="">
                <source srcset="../../assets/img/logo.webp" type="image/webp">
                <source srcset="../../assets/img/logo.png" type="image/png">
                <img loading="lazy" class="w-full" src="../../assets/img/logo.png" alt="Logo Registro">
            </picture>
        </div>
    
        <div class="bg-[#DBCDAB] py-5 rounded-b-md">
            <section class="px-4 md:mx-auto md:px-8 ">
                <router-outlet />
            </section>
        </div>
    </div>
</div>