/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.centrar {
    margin: 0 auto;
    width: min(90%, 75rem);
}

.button-decoration {
    background-color: #637558;
    color: white;
    font-weight: bold;

    &:hover {
        background-color: #4d5b48;
    }
}

.title-tb-decoration {
    padding-inline-start: 3.625rem;
    margin: 1rem 0;
    font-weight: 600;

}

@media (min-width: 768px) {
    .title-tb-decoration {
        padding-inline-start: 1.5rem;
    }

}