<main class="max-w-screen-2xl mx-auto lg:px-6">
    <div class="pt-8">
        <div class="overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left">
                <thead class="text-xs text-black uppercase bg-[#cba879]">
                    <tr>
                        @for(column of columns; track $index){
                        <th scope="col" class="px-3 py-3">
                            {{ column }}
                        </th>
                        }

                        <th scope="col" class="px-3 py-3">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for(data of dataSources | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; track
                    $index){
                    <tr class="border-b" [ngClass]="$index % 2 === 0 ? 'bg-[#ede4d3]' : 'bg-[#c7b194]'">
                        @for(nombre of columns; track $index ){
                        <td [attr.data-titulo]="nombre" class="px-4 py-2 truncado"
                            [ngClass]="data[nombre] === null ? 'text-center ': ''">
                            @if (data[nombre] !== null) {
                            {{ data[nombre] }}
                            } @else {
                            -
                            }
                        </td>
                        }

                        <td class="py-3" [ngClass]="!showDelete ? 'text-center' : ''">
                            <a class="font-medium text-blue-600 dark:text-blue-500 hover:cursor-pointer pr-7"
                                (click)="onAction('Editar',data)">Edit</a>
                            @if (showDelete) {
                            <a class="font-medium text-blue-600 dark:text-blue-500 hover:cursor-pointer"
                                (click)="onAction('Eliminar',data)">Delete</a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-4">
        <!-- Controles de paginación -->
        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
</main>