<h1 class="title-tb-decoration">Lista de {{title}}</h1>

<a class="button-create" [routerLink]="['/servicios/create']">Crear</a>

@if (isMobile()) {
    @defer {
        <app-spinner />
        
        <app-list-data [columnsValue]="columns" [datasourcesValue]="services" [itemsPerPage]="10"
         (action)="onAction($event)"/>
    }
} @else {
    @defer {
        <app-spinner />
        
        <app-table-data [columnsValue]="columns" [datasourcesValue]="services" [itemsPerPage]="10" 
         (action)="onAction($event)"/>
    }
}
